*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header__nav{
    background:#3E8989; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;

}
.header__list{
    display: flex;
    list-style: none;
    
}
.header__link{
    font-family:'Rubik';
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    padding-right: 15px;
    padding-left: 15px;
    transition: 0.5s;
}

.header__form{
    display: flex;
    padding-left: 165px;

}
.header__input{
    border-radius: 20px 0px 0px 20px;
    width: 216px;
    height: 35px;
    background: red;
}
.header__button{
    background:#295E5E;
    width: 74px;
    height: 35px;
    border-radius:0px 20px 20px 0px;
}
.header__item :hover{
    background: #000;
    color: yellow;
}
.header__img{
  width: 1410px;
  position: relative;
}
